# Chapter 2 Assignment

## Tuan Hoang

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('ramen-ratings.csv')
df.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [5]:
df.tail()

,Brand,Variety,Style,Country,Stars
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5
2573,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0
2574,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0
2575,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0
2576,Westbrae,Miso Ramen,Pack,USA,0.5

In [6]:
df.describe()

             Stars
count  2577.000000
mean      3.654676
std       1.015331
min       0.000000
25%       3.250000
50%       3.750000
75%       4.250000
max       5.000000

In [10]:
df.nunique

<bound method DataFrame.nunique of                Brand                                            Variety Style  \
0          New Touch                          T's Restaurant Tantanmen    Cup
1           Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2             Nissin                      Cup Noodles Chicken Vegetable   Cup
3            Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4     Ching's Secret                                    Singapore Curry  Pack
...              ...                                                ...   ...
2572           Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl
2573         Wai Wai                     Oriental Style Instant Noodles  Pack
2574         Wai Wai                                     Tom Yum Shrimp  Pack
2575         Wai Wai                               Tom Yum Chili Flavor  Pack
2576        Westbrae                                         Miso Ramen  Pack

       Country  Stars
0        Japan   3.75
1       Taiwan   1.00
2          USA   2.25
3       Taiwan   2.75
4        India   3.75
...        ...    ...
2572   Vietnam   3.50
2573  Thailand   1.00
2574  Thailand   2.00
2575  Thailand   2.00
2576       USA   0.50

[2577 rows x 5 columns]>

In [16]:
vietnam_rows = df[df['Country'] == 'Vietnam']
vietnam_rows

,Brand,Variety,Style,Country,Stars
18,Binh Tay,Mi Hai Cua,Pack,Vietnam,4.00
52,Uni-President,Mushroom Flavor,Pack,Vietnam,0.00
143,Mum Ngon,Lau Tom Chua Cay,Pack,Vietnam,3.50
224,Vifon,Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...,Bowl,Vietnam,5.00
365,Acecook,Oh! Ricey Pork Flavour,Pack,Vietnam,4.00
...,...,...,...,...,...
2486,Binh Tay,Mi Chay Mushroom,Pack,Vietnam,2.75
2535,Ve Wong,Kung-Fu Chicken Flavor,Pack,Vietnam,2.75
2570,Ve Wong,Mushroom Pork,Pack,Vietnam,1.00
2571,Vifon,Nam Vang,Pack,Vietnam,2.50
2572,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50

In [17]:
vietnam_brand_style = vietnam_rows[['Brand', 'Style']]
vietnam_brand_style

              Brand Style
18         Binh Tay  Pack
52    Uni-President  Pack
143        Mum Ngon  Pack
224           Vifon  Bowl
365         Acecook  Pack
...             ...   ...
2486       Binh Tay  Pack
2535        Ve Wong  Pack
2570        Ve Wong  Pack
2571          Vifon  Pack
2572          Vifon  Bowl

[108 rows x 2 columns]

In [18]:
vietnam_country = vietnam_rows['Country']
vietnam_country

18      Vietnam
52      Vietnam
143     Vietnam
224     Vietnam
365     Vietnam
         ...
2486    Vietnam
2535    Vietnam
2570    Vietnam
2571    Vietnam
2572    Vietnam
Name: Country, Length: 108, dtype: object

In [29]:
sorted_data = vietnam_rows.sort_values(by='Stars', ascending=False)
sorted_data

,Brand,Variety,Style,Country,Stars
224,Vifon,Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...,Bowl,Vietnam,5.00
2130,Ve Wong,Little Prince Bacon,Pack,Vietnam,4.75
2215,Vina Acecook,Daily Hot & Sour With Shrimp,Pack,Vietnam,4.50
1722,Vina Acecook,Bestcook Hot & Sour Shrimp,Bowl,Vietnam,4.25
2181,Vina Acecook,Bestcook Hot spicy Tom Yum Shrimp,Bowl,Vietnam,4.25
...,...,...,...,...,...
1957,Vifon,Phu Gia Bamboo Shoot Artificial Pork Bean Thread,Pack,Vietnam,1.25
1248,Vifon,Oriental Style Instant Noodle Mi Ga Chicken Fl...,Cup,Vietnam,1.25
2570,Ve Wong,Mushroom Pork,Pack,Vietnam,1.00
2202,Vifon,Pho Bo Beef Rice Noodle,Pack,Vietnam,0.50
52,Uni-President,Mushroom Flavor,Pack,Vietnam,0.00

In [20]:
df['Country'] = df['Country'].replace('USA', 'United States')
df.to_csv('ramen-ratings.csv', index=False)
df.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,United States,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [22]:
num_countries = df['Country'].nunique()
print("Number of countries represented in the data:", num_countries)

Number of countries represented in the data: 37

In [34]:
average_rating_by_country = df.groupby('Country')['Stars'].mean()
sorted_average_ratings = average_rating_by_country.sort_values(ascending=False)
top_three_countries = sorted_average_ratings.head(3)
top_three_countries

Country
Brazil      4.350000
Sarawak     4.333333
Cambodia    4.200000
Name: Stars, dtype: float64

In [35]:
average_rating_by_country = df.groupby('Country')['Stars'].mean()
sorted_average_ratings = average_rating_by_country.sort_values(ascending=False)
bottom_three_countries = sorted_average_ratings.tail(3)
bottom_three_countries

Country
Netherlands    2.483333
Canada         2.243902
Nigeria        1.500000
Name: Stars, dtype: float64

In [37]:
%%time
average_rating_by_country = df.groupby('Country')['Stars'].mean()
sorted_average_ratings = average_rating_by_country.sort_values(ascending=False)
bottom_three_countries = sorted_average_ratings.tail(3)
bottom_three_countries

CPU times: user 2.68 ms, sys: 654 µs, total: 3.33 ms
Wall time: 3.26 ms

Country
Netherlands    2.483333
Canada         2.243902
Nigeria        1.500000
Name: Stars, dtype: float64